.abtimg-con {
    display: flex;
    flex-flow: row nowrap;
    width: max(70vw);
    justify-content: center;
  
  }
  
  .waw {
    display: flex;
    flex-flow: column nowrap;
    z-index: 0;
    justify-content: center;
    align-items: center;
    padding-top: 0.1rem;
  }
  
  .waw>h1 {
    text-align: center;
    font: var(--headfont);
    color: var(--primarycolor);
  
  }
  
  .whoarewe {
    width: 70dvw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    margin-top: 3rem;
  }
  
  .paragraph,
  .photo {
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0.1%;
    padding: 0 0.1%;
    width: 80vw;
  
  }
  
  .paragraph {
    flex-basis: 45%;
    align-items: start;
    flex-grow: 2;
  }
  
  
  
  .photo {
    flex-basis: 50%;
    flex-grow: 4;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  
  
  .message-bio {
    text-align: justify;
    font: var(--parafont);
    font-weight: 500;
    color: var(--textcolor);
    padding: 15px;
  
  }
  
  .paragraph>h1 {
    font: var(--headfont);
    font-weight: 800;
    padding: .1rem;
    margin: .1rem .1rem .1rem 1rem;
    color: var(--primarycolor);
  }
  
  .paragraph>h4 {
    font: var(--subheadfont);
    color: var(--textcolor);
    font-weight: 600;
    padding: .1rem;
    margin: .1rem .1rem .1rem 1rem;
  
  }
  
  .paragraph>p,
  .paragraph>a {
    font: var(--parafont);
    font-weight: 500;
    color: var(--textcolor);
    padding-inline: .5rem;
    margin-inline: .5rem;
    margin-top: .25rem;
    padding-top: .25rem;
    width: 35vw;
    text-align: justify;
  
  }
  
  .paragraph>a>p {
    display: none;
    font-size: 18px;
    background-color: var(--primarycolor);
    color: var(--captioncolor);
    margin-top: 0;
    padding-top: 0;
    width: 120px;
    padding: 5px 10px;
    border-radius: 8px;
  }
  
  .paragraph>a>p:hover {
    color: var(--captioncolor);
    background-color: var(--secondarycolor);
  
  }
  
  .photo>img {
    height: 100vh;
    width: 100%;
    padding: 5px;
    margin: 5px;
    object-fit: scale-down;
  }
  
  @media only screen and (width<=769px) {
  
    .abtimg-con{
      width: max(95vw);
    }
  
  .waw {
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  
  .waw>h1 {
    margin: 0;
    display: none;
  }
  
  .whoarewe {
  
    height: auto;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .paragraph, .photo {
    width: 95vw;
  }
  
  .paragraph>h1 {
    padding: 0;
    margin: 0;
    margin-inline: auto;
  }
  
  .paragraph>h4 {
    padding: 0;
    margin: 0;
    margin-inline: auto;
    font-size: 20px;
  }
  
  .paragraph>p,
  .paragraph>a {
    font: 14px "Poppins";
    margin-block: .5rem;
    padding-top: 0;
    width: 95vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    white-space: pre-wrap;
  }
  
  .paragraph>a>p {
    margin-bottom: .5rem;
    margin-left: .9rem;
    color: var(--captioncolor);
    font-weight: 500;
  
  }
  
  .paragraph {
    flex-basis: 10%;
    align-items: start;
    flex-grow: 1;
  
  }
  
  .message-bio {
  
    -webkit-line-clamp: initial;
    overflow: hidden;
  
  }
  
  
  .message-bio p {
    margin-left: 0;
  }
  
  
  .photo {
    flex-basis: 0%;
    flex-grow: 0;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .photo>img {
    width: 90%;
    padding: 0;
    margin-top: 0;
    height: auto;
    object-fit: scale-down;
  }
  }