header{
    background-color: var(--headcolor) !important;
}

.dropdown-content{
    background-color: var(--headcolor) !important;

}

.product_main{
    display: flex;
    flex-flow: column nowrap;
    width: 100dvw;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_main>h1{
    font: var(--headfont);
    color: var(--primarycolor);
}

.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}